<div class="row my-5">
    <ul class="mx-auto list-group col-lg-8 bg-dark">
        <li class="list-group-item">
            1. Upewnij się, że wszystkie pliki są czytelne i zapisane w formacie PDF, JPG lub PNG.
        </li>
        <li class="list-group-item">
            2. Wprowadź swój numer telefonu komórkowego, aby otrzymać kod weryfikacyjny SMS.
        </li>
        <li class="list-group-item">
            3. Odbierz kod SMS i wprowadź go w formularzu, aby zweryfikować numer.
        </li>
        <li class="list-group-item">
            4. Po weryfikacji numeru podaj swoje imię i nazwisko.
        </li>
        <li class="list-group-item">
            5. Załącz wymagane pliki (umowa kredytowa, aneksy, korespondencja z bankiem).
            Możesz dodać maksymalnie 10 plików w formacie PDF, JPG lub PNG.
        </li>
        <li class="list-group-item">
            6. Kliknij „Wyślij”, aby przesłać swoje zgłoszenie.
        </li>
        <li class="list-group-item">
            7. Oczekuj na kontakt naszego specjalisty, który przeanalizuje Twoją sprawę.
        </li>
    </ul>
</div>

