<div class="mt-5">
    <h1 class="text-center">
        Prześlij swoje dokumenty – Pomoc dla Frankowiczów
    </h1>

    <p class="text-center">
        Aby uzyskać wsparcie w sprawach kredytów frankowych, prześlij niezbędne
        dokumenty, postępując według instrukcji poniżej.
    </p>
</div>