<div class="my-5">
    <h1 class="text-center my-5">
        Kancelaria Adwokacka - ....
    </h1>
    <h2 class="text-center">
        Prześlij swoje dokumenty – Pomoc dla Frankowiczów
    </h2>

    <p class="text-center">
        Aby uzyskać wsparcie w sprawach kredytów frankowych, prześlij niezbędne
        dokumenty, postępując według instrukcji poniżej.
    </p>
</div>