---
import Form from "./Form";
import Instruction from "./Instruction.astro";
import Title from "./Title.astro";
---

<div>
    <div class="container">
        <Title />
        <Form client:load />
        <Instruction />
    </div>
</div>
