---
import Form from "./Form";
import Instruction from "./Instruction.astro";
import Title from "./Title.astro";
---

<div>
    <div class="container">
        <Title />
        <Instruction />       
    <Form client:load />
</div>   
</div>
